.home{
  .banner {
    background-color: #2fa360;
    height: 325px;
    margin-top: -1.5rem;
  }

  .toolbar {
    height: 83px;
    background-color: #ffffff;
    padding: 10px 0;
    margin-bottom: 1.5rem;
    position: relative;

    .avatar {
      position: absolute;
      bottom: -30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 165px;
    }

    .nav {
      .nav-link {
        color: #333333;
        font-size: 14px;
        text-align: center;
        margin: 0 10px;

        span {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    button {
      margin-top: 12px;
      float: right;
    }
  }
  .profile{
    .name{
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }
    .email{
      color: #999999;
      font-stretch: initial;
    }
    .introduce{
      margin: 20px 0;
    }
    .btn{
      margin-top: 20px;
    }
  }
}
.user-list{
  .banner-xs{
    height: 100px;
    background-color: #2a9055;
  }
  .card-body{
    position: relative;
    padding-top: 10px;
    .info-bar{
      height: 28px;
      .btn{
        width: 90px;
      }
    }
    .avatar{
      border-radius: 50%;
      position: absolute;
      top: -50px;
    }
    .name{
      font-weight: bold;
      font-size: 16px;
    }
    .email{
      color: #999999;
    }
    .introduce{
      height: 80px;
      overflow: hidden;
      margin-top: 20px;
    }
  }

}